/* NAV SECTION STYLING */

.nav-heading {
  color: #ffffff;
  background-color: #4aaaa5;
  width: 190px;
  float: left;
}

.nav-container {
  background-color: #ffffff;
  width: 960px;
  height: 90px;
}

.nav-item {
  float: right;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
